.button {
    background: #f23;
    padding: 5px 10px;
    border: 1px solid currentColor;
    color: #fff;
    border-radius: 5px;
}

.primary {
    composes: button;
    background: #f09;
}

.btn-info {
    color: #23f;
    box-shadow: 1px 1px 2px rgba(40,90,123, .5);
}

.buttonSuccess {
    color: #90f;
}