$color: #19a;
$bgColor: #fc9;

.title {
    color: $color;
    background-color: $bgColor;
    text-align: center;
    padding: 5px;

    &::before {
        content: '';
        background: url("../../../../assets/images/copy-solid.svg") no-repeat center;
        background-size: cover;
        display: inline-flex;
        width: 1em;
        height: 1em;
    }
}

.App-logo {
    font-size: 2rem;
    color: orange;
}

.app-button {
    color: #19a;
    background: #fc9;
}

.app-title {
    color: orange;
    background: #f35609;
}
img {
    max-width: 100%;
    height: auto;
}


body {
    width: 100vw;
    min-height: 100vh;
    background: url('../../../../assets/images/body-background.jpg') no-repeat center, linear-gradient(to bottom, #f560a9, #09aefa,#2390af) no-repeat center;
    background-size: cover;
    background-blend-mode: overlay, screen;
}